include ./components/_mixins
doctype html
html(lang="en" class="scroll-smooth font-karla font-thin")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Styles
        link(rel="stylesheet", href="./assets/css/style.css")
        //- Icons
        script(src="https://kit.fontawesome.com/32dce108fb.js" crossorigin="anonymous")
        //- Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;700;800&display=swap" rel="stylesheet")
    
        //-Script
        style. 
            .toolIcon {
                color:transparent;
            }
            .toolIcon:hover {
                color:black;
            }
            .carousel:hover .controls {
                opacity: 1;
            }
            .controls{
                justify-content: space-between;
            }
            .slides {
                transform: translateY(-50%);
                transition: 1s ease-in-out all;
            }
            .slide {
                min-width: 100%;     
                height: auto;
            }
    
        title César Cobos 
    body
        header#header(class="w-full fixed bottom-0 z-20")
            include ./components/_header.pug

        main
            include ./components/_heroSection.pug
            include ./components/_aboutSection.pug
            include ./components/_projectSection.pug
            include ./components/_myToolssection.pug
            include ./components/_blogEntriesSection.pug

        footer
            include ./components/_footer.pug

        script(src="./assets/js/scroll.js")
        script(src="./assets/js/device.js")