include ./components/_mixins
doctype html
include ./components/_head.pug
    
    +pageTitle("Home")
        //-Script
    style. 
        
        

    body#bodySelect
        +bluredBackground
        include ./components/_header.pug

        main
            include ./components/_heroSection.pug
            include ./components/_aboutSection.pug
            include ./components/_myToolssection.pug
            include ./components/_workedSection.pug
            include ./components/_blogEntriesSection.pug
        footer
        include ./components/_footer.pug

        script(src="./assets/js/deviceDetection.js")
        script(src="./assets/js/openNav.js")
        script(src="./assets/js/navColorScroll.js")
        script(src="./assets/js/colorSchema.js")
        script(src="./assets/js/iconGrid.js") 
        script(src="./assets/js/workTabs.js")
        link(rel="stylesheet", href="/assets/css/extraStyles.css")