include ./components/_mixins
doctype html
include ./components/_head.pug
    head
        +head("Home")
        //-Script
        style. 
            .toolIcon {
                color:transparent;
            }
            .toolIcon:hover {
                color:rgba(255,255,255,0.5);
            }
            .carousel:hover .controls {
                opacity: 1;
            }
            .controls{
                justify-content: space-between;
            }
            .slides {
                transform: translateY(-50%);
                transition: 1s ease-in-out all;
            }
            .slide {
                min-width: 100%;     
                height: auto;
            }
    
        title César Cobos 
    body
        header#header(class="w-full fixed bottom-0 z-20")
            include ./components/_header.pug

        main
            include ./components/_heroSection.pug
            include ./components/_aboutSection.pug
            //- include ./components/_projectSection.pug
            include ./components/_myToolssection.pug
            include ./components/_blogEntriesSection.pug

        footer
            include ./components/_footer.pug

        +jsScripts()