include ../components/_mixins

include ../components/_head.pug
    +pageTitle("Let's get in touch")
    script(charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js")
        
    body#bodySelect
        +bluredBackground
        include ../components/_header.pug

        main(class="pt-16 flex flex-col justify-center items-center")
            p(class="text-4xl mt-16 mb-12 font-bold") Let's talk
            div(class="forms md:w-[450px] h-5/6")
                script(src="./form.js" class="text-2xl") 

        script(src="../assets/js/deviceDetection.js")
        script(src="../assets/js/openNav.js")
        script(src="../assets/js/navColorScroll.js")
        script(src="../assets/js/colorSchema.js") 
        link(rel="stylesheet", href="../assets/css/extraStyles.css")