section(class="flex w-full h-full py-8 justify-center items-center")
    div(class="flex flex-col justify-center w-10/12 lg:w-8/12 max-w-5xl")
        p(class="mb-4 text-4xl font-extrabold text-rose-400") This is me
        div(class="grid  md:w-full  grid-cols-1 md:grid-cols-6 items-center justify-center ")
            .description(class="w-full md:w-full md:px-8 text-justify text-lg md:col-start-1 md:col-end-5") 
                p Hi! My name is 
                    span(class="font-bold hover:text-rose-600") César
                    span , I like to create things for 
                    span(class="font-bold hover:text-rose-600") real world 
                    span and things for 
                    span(class="font-bold hover:text-rose-600") internet
                    span .  I graduated as a 
                    span(class="font-bold hover:text-rose-600") Civil Engineer 
                    span in 2013 and I have worked in 
                    span(class="font-bold hover:text-rose-600") Geospatial
                    span ,
                    span(class="font-bold hover:text-rose-600")  Mechanical Design
                    span , 
                    span(class="font-bold hover:text-rose-600") HVAC
                    span  and 
                    span(class="font-bold hover:text-rose-600") Project Management
                    span . 
                //- p hola mi nombre es César, me gusta crear cosas tanto físicas como para la web. Me titulé como ingeniero Civil en el 2013 y desde entonces he trabajado en las áreas de Geoespacial, Diseño Mecanico y Administracion de Proyectos.
                p(class="py-4") Currently, I 
                    span(class="font-bold hover:text-rose-600") design  
                    dpan from small 
                    span(class="font-bold hover:text-rose-600") mechanical components 
                    span to bigger 
                    span(class="font-bold hover:text-rose-600") metallic structures
                    span , starting from sketch to its manufacture.
                //- p Actualmente diseño desde componentes mecánicos pequeños hasta estructuras metalicas llevando cada paso del proceso.
                p Since a time ago I've dive into 
                    span(class="font-bold hover:text-rose-600") Dev 
                    apsn world with languages like: 
                    span(class="font-bold hover:text-rose-600") Python
                    span , 
                    span(class="font-bold hover:text-rose-600") JavaScript
                    span , 
                    span(class="font-bold hover:text-rose-600") HTML
                    span , 
                    span(class="font-bold hover:text-rose-600") CSS 
                    span and 
                    span(class="font-bold hover:text-rose-600") LISP 
                    span with which I've made tools to 
                    span(class="font-bold hover:text-rose-600") get things done faster.
                //- p Desde hace un tiempo me he incorporado al mundo del desarrollo con lenguajes como Python, JavaScript, HTML, CSS, LISP donde he creado herramientas que agilizan mis trabajos del dia a dia
            div#portrait(class="md:col-start-5 md:col-end-7 my-12 md:py-0 w-full lg:w-96 h-80 md:h-[450px] lg:h-[550px] shadow-2xl ease-in-out duration-300 md:rounded-3xl grayscale hover:grayscale-0 bg-center bg-no-repeat bg-cover"
            style="background-image:url('https://drive.google.com/uc?export=view&id=1L53_CZabgZu_STkWj7VgUBXheLQNjGfJ')")  