section(class="w-full h-auto bg-slate-200 flex flex-col justify-center items-center py-12")
    div(class="my-6")
        p(class="text-3xl font-bold mb-4") Entradas recientes
    div(class="justify-center items-center grid grid-flow-row gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-4")
        +blogCard
        +blogCard
        +blogCard
        +blogCard