section(class="w-full h-auto flex flex-col justify-center items-center py-12")
    div(class="my-6")
        p(class="text-3xl font-bold mb-8") Somethimes I write
    div(class=" visible justify-center items-center grid grid-flow-row  gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-auto")
        //- title,date,description,image,altimage
        //- https://drive.google.com/uc?export=view&id=1-GX8SRRG9c32qadDJ1zrPIa8DSNAOzoF
        +blogCard("titulo","29 de Septiembre de 2022","Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ex dignissimos suscipit sit saepe ea hic asperiores quod minima aperiam dolores commodi fuga dolorum accusamus ipsum et rerum. Laborum, accusantium?","https://drive.google.com/uc?export=view&id=1BnBaV6yL9Xg57EGvAK9Py-XcshaNr0-i","blog")
        +blogCard("titulo","30 de septiembre de 2022","orem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ex dignissimos suscipit sit saepe ea hic asperiores quod minima aperiam dolores commodi fuga dolorum accusamus ipsum et rerum. Laborum, accusantium?","https://drive.google.com/uc?export=view&id=1-GX8SRRG9c32qadDJ1zrPIa8DSNAOzoF","imagen")
        



