footer
    section(class="w-full h-auto flex justify-center items-center md:mb-0 py-12 mb-16")
        div(class="flex flex-col justify-center items-center ")
            span(class="flex justify-center items-center mb-4") Let's get in touch 
            +ctabtn("Hello","../contact/","px-8 mt-8 mb-16")
            //- p(class="mb-4 mt-8") 
            div.social-buttons(class="w-8/12 md:4/12 h-16 text-3xl"
                class="flex space-x-12 items-center justify-center ")
                +socialLink("https://github.com/cesarcoboscv", "fa-github","Mira mis proyectos")
                +socialLink("https://twitter.com/cesarcoboscv", "fa-twitter","Sigamos la plática")
                +socialLink("https://linkedin.com/in/cesarcoboscv", "fa-linkedin","Mira mi perfil")
            span(class="flex justify-center items-center text-xs mt-4") César Cobos 202x