footer
    div(id="contact" class="w-full h-auto flex justify-center items-center flex-col pb-10")
        +title-section("Sigamos la conversación")
        div(class="w-full max-w-[1200px] h-32 flex items-center justify-center text-4xl md:text-3xl pt-12")
            +social-icon("fa-brands fa-telegram","Telegram","https://t.me/cesarcoboscv")
            +social-icon("fa-brands fa-twitter","Twitter","https://twitter.com/cesarcoboscv")
            +social-icon("fa-brands fa-github","GitHub","https://github.com/cesarcoboscv")
            +social-icon("fa-brands fa-linkedin","LinkedIn","https://linkedin.com/in/cesarcoboscv")
            +social-icon("fa-solid fa-envelope","email","mailto:cesar@coboscv.com")
        div(class="text-sm pt-6")
            p César Cobos 202x