footer
    div(class="w-full h-auto flex justify-center items-center flex-col pb-10")
        +title-section("Sigamos la conversación")
        div(class="w-full max-w-[1200px] h-32 flex items-center justify-center text-3xl pt-12")
            +social-icon("fa-twitter","Twitter","https://twitter.com/cesarcoboscv")
            +social-icon("fa-github","GitHub","https://github.com/cesarcoboscv")
            +social-icon("fa-linkedin","LinkedIn","https://linkedin.com/in/cesarcoboscv")
        div(class="text-sm pt-6")
            p César Cobos 202x