section(class="w-full min-h-[50vh] flex flex-col justify-center items-center py-12 mt-[-156px] md:mt-[-64px]")
    +title-section("Mis proyectos en Internet")
    div(class="repos grid-temp justify-center min-w-[250px] w-full justify-center max-w-[1600px] px-6")
        +github-repo("https://github.com/cesarcoboscv/impractical-projects","https://github-readme-stats.vercel.app/api/pin/?username=cesarcoboscv&theme=swift&repo=impractical-projects")
        +github-repo("https://github.com/cesarcoboscv/podcast-page","https://github-readme-stats.vercel.app/api/pin/?username=cesarcoboscv&theme=swift&repo=podcast-page")
        +github-repo("https://github.com/cesarcoboscv/autolisp","https://github-readme-stats.vercel.app/api/pin/?username=cesarcoboscv&theme=swift&repo=autolisp")
    +title-section("Los lenguajes que uso")
    div(class="langs w-full flex justify-center")
        +github-repo("https://github.com/cesarcoboscv","https://github-readme-stats.vercel.app/api/top-langs/?username=cesarcoboscv&langs_count=10&layout=compact&theme=swift&hide=pug,html,css,scss","compact hidden md:block")
        +github-repo("https://github.com/cesarcoboscv","https://github-readme-stats.vercel.app/api/top-langs/?username=cesarcoboscv&langs_count=10&theme=swift&hide=pug,html,css,scss","full-lang md:hidden")