div(class="w-full h-auto flex flex-col justify-center items-center py-12")
    +title-section("Mis proyectos en GitHub")
    div(class="repos w-full")
        +github-repo("https://github.com/cesarcoboscv/impractical-projects","https://github-readme-stats.vercel.app/api/pin/?username=cesarcoboscv&theme=swift&repo=impractical-projects")
        +github-repo("https://github.com/cesarcoboscv/podcast-page","https://github-readme-stats.vercel.app/api/pin/?username=cesarcoboscv&theme=swift&repo=podcast-page")
        +github-repo("https://github.com/cesarcoboscv/autolisp","https://github-readme-stats.vercel.app/api/pin/?username=cesarcoboscv&theme=swift&repo=autolisp")