nav#navbar(class="w-full h-16 bg-[rgba(252,252,252,0.3)] text-black flex items-center justify-center ease-in-out duration-1000 text-lg font-light")
    .mobileBar#mobileBar(class=" flex lg:hidden w-10/12 justify-center md:justify-start ")
        .span.fa-solid.fa-bars(class="text-3xl")
    .menuBar#menuBar(class="hidden w-10/12 max-w-screen-lg")
        .menuItems(class="flex justify-end w-full")
            .ul(class="flex justify-center w-5/12 space-x-6")
                .li 
                    +navLink("#","Home","Ir al Inicio")
                .li 
                    +navLink("#","Portafolio","Portafolio")
                .li
                    +navLink("#","Proyectos","Proyectos")
                .li 
                    +navLink("#","Blog","Blog")

    