html(lang="en" class=" scroll-smooth font-karla font-light text-lg text-[#1e293b]")
    link(rel="shortcut icon", href="https://drive.google.com/uc?export=view&id=1S5Dfb4ER5X1faqUdnRqa1qwsqWTvLRPp", type="image/x-icon")