html(lang="en" class=" scroll-smooth font-karla font-light text-lg text-[#1e293b]")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Styles
        link(rel="stylesheet", href="../assets/css/style.css")
        //- Icons
        script(src="https://kit.fontawesome.com/32dce108fb.js" crossorigin="anonymous")
        //- Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;700;800&display=swap" rel="stylesheet")
        link(rel="shortcut icon", href="https://drive.google.com/uc?export=view&id=1S5Dfb4ER5X1faqUdnRqa1qwsqWTvLRPp", type="image/x-icon")