include ./_mixins.pug

header(class="text-white flex w-full")
    .full-nav(id="full-navbar" class="w-full  flex justify-center items-center fixed ease-in-out duration-1000 z-10")
        div(class="nav-buttons flex justify-end items-center w-full max-w-[1600px] md:px-24")
            +fullnav()
            +cta-button("Ver CV","https://drive.google.com/file/d/1qm18xIB3YEoZNyjdR1XD7jZ8I4VRu6TB/view?usp=sharing")
    