section.hero(class="w-full h-screen flex justify-center items-center")
    div(class="w-10/12 md:6/12 h-auto text-xl")
        p(class="w-28 text-2xl") Hello!! I'm 
        p(class="w-full text-6xl font-bold text-rose-600 mt-4 mb-2") César Cobos
        p(class="w-full text-4xl pb-8 font-bold text-rose-200") I build things for the web and the real world!
        p(class="w-full md:max-w-[650px] text-lg")  I'm Civil Engineer. I build metallic structures for the real world, tools with code and FrondEnd Dev.
        
        //- Soy ingeniero civil. Actualmente construyo estructuras metalicas para el mundo real, construyo herramientas con lenguajes de programación, y desarrollo FrondEnd.