section(id="hero" class="hero flex w-full items-center justify-center h-[calc(100vh+80px)] bg-top bg-no-repeat bg-cover mt-[-80px]" )
    div( class="flex flex-col h-auto w-full max-w-[1200px] text-zinc-50 px-8")
        p(class="text-2xl max-w-[120px] p-2") Hey! Soy
        P(class="text-6xl max-w-[550px] font-extrabold uppercase p-2 mt-2 mb-8 lg:text-7xl") César Cobos
        P(class="text-4xl font-bold p-2") Soy Ingeniero Civil: construyo cosas para internet y el mundo físico.