section.hero(class="w-full h-screen flex justify-center items-center"
    style="background-image: url('https://drive.google.com/uc?export=view&id=1poymSzho6gRecCrhYmYIt05esWIf6wxN')"
    class="bg-center bg-no-repeat")
    div(class="w-8/12 md:6/12 h-auto mt-32")
        p(class="w-28 text-2xl font-light bg-[rgba(252,252,252,0.3)]") Hello!! I'm 
        p(class="w-full md:max-w-[350px] text-4xl md:text-5xl font-bold uppercase text-rose-600 mt-4 mb-2 bg-[rgba(252,252,252,0.3)]") César Cobos
        p(class="w-full md:max-w-[550px] text-xl font-light uppercase bg-[rgba(252,252,252,0.3)]") civil engineer | project manager | frontend | python