section(id="hero" class="hero flex w-full items-center justify-center h-[calc(100vh+80px)] bg-top bg-no-repeat bg-cover mt-[-80px]" )
    div( class="flex flex-col h-auto w-full max-w-[1200px] text-zinc-50 px-8")
        //- p(class="text-3xl max-w-[120px] w-auto bg-[#00000085] p-2") Hey!soy
        //- p(class="text-6xl max-w-[650px] w-auto bg-[#00000085] uppercase font-extrabold my-4 p-3") Construyo cosas para internet y el mundo físico.
        //- p(class="text-4xl bg-[#00000085] font-bold p-2 text-[#ffffff8f]") Construyo cosas para internet y el mundo físico.