section(id="hero" class="hero flex w-full items-center justify-center h-[calc(100vh+80px)] bg-top bg-no-repeat bg-cover mt-[-80px]" )
    div( class="flex flex-col h-auto w-full max-w-[1200px] text-zinc-50 px-8")
        p(class="text-5xl max-w-[600px] font-extrabold uppercase w-auto tracking-wide leading-relaxed") Ingeniería para 
            span(class="bg-rose-600") conectar
            span  mundos