section(id="hero" class="hero flex w-full items-center justify-center h-[calc(100vh)] bg-top bg-no-repeat bg-cover mt-[-80px]" )
    div( class="flex flex-col h-auto w-full max-w-[1200px] text-white px-8")
        p(class="text-2xl") Hey! Soy
        P(class="text-6xl font-bold uppercase pt-2 pb-8 lg:text-7xl" translate="no") César Cobos
        P(class="text-4xl font-bold opacity-70") Soy Ingeniero Civil y construyo cosas para internet y el mundo físico.