section.mytools(class="flex h-auto min-h-[650px] justify-center items-center flex-col pb-12")
    div(class="flex justify-center items-center w-full h-16 mt-4 mb-12")
        span.rSubtitle(class="text-4xl font-extrabold") My tools
    div(id="iconContainer" class="h-auto place-items-center grid grid-flow-row gap-4 grid-cols-3 md:grid-cols-6 lg:grid-cols-10")
        