section.mytools(class="flex h-auto justify-center items-center flex-col bg-slate-300 pb-12")
    div(class="flex justify-center items-center w-full h-16 mt-4")
        p.text-3xl.font-bold.text-white Mis herramientas
    div(class="h-auto place-items-center grid grid-flow-row gap-6 grid-cols-3 md:grid-cols-6 lg:grid-cols-10")
        //- Engineering
        +toolIcon("https://drive.google.com/uc?export=view&id=1qj7Go9vFA_WYrs3Py2iaTtCUwSxRR9tf","Revit Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1zL1jlRoqzln7iB_SYEwW1TNt2JVcRRwi","Inventor Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1W22upnb3BY0-QIn2TUBTFC-7Y44N5aO6","AutoCAD Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1oQocKv1MWezeMU6ECi8CVLO7vRWc-Dkz","SolidWorks Logo","Python")
        //- Tech
        +toolIcon("https://drive.google.com/uc?export=view&id=1WSBCEu3ikzugJVJdX9tat208aH2uCkWP","Python Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=17R07kHo3igxYyBaCbwM49eByvfFvNoAj","Javascript Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1fiRQdoiQNSmQGNyv8YhVCaCcQBWLP9Fr","HTML 5 Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1sCE9opP0dtTNdKlGHWJJSHjyUifLULtG","CSS 3 Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1Sed5M9pki00_OjsYAX1Iq653MrbckbXm","Tailwind CSS Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1TdBjhyC661RMDDTnrGKxa9E8fvgGutjR","Sass Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1uzDkVHTElBgotG-No709re0yHevUDb91","Git Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1NX-lyl7FoUynvlA4ZxTT23ZskzTShRPn","GitHub Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1OUnPV_9Gxa--zXLjYtObU_2Lck4IMDs4","Visual Studio Code Logo","Python")

        +toolIcon("https://drive.google.com/uc?export=view&id=1oHDIvVewakJD6LmZKjBAItqlm7fx1cN-","Google Logo","Python")

        +toolIcon("https://drive.google.com/uc?export=view&id=1dbpiZFP2yFnDwARTlI5B__PNipRoX1PN","Microsoft Project Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1Qa4E26b3VN0Bav_HZujjGdSXQTpKhaE_","Photoshop Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=12ZSISqVOHFzZe9SZj6ujk05P5NxV2WQ1","Notion Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1k0ufripom9X6CgmrSaqv7NJvRi8cmbxK","Adobe Illustrator Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1P7TsOmeo188wQDbAmiFMiRst19Rr8kP_","Google Colab Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1XewZ9TkdKyC-1h7yJhdtkpQT8UF8giuO","Adobe XD Logo","Python")
        +toolIcon("https://drive.google.com/uc?export=view&id=1U6lZ6q0v-Alk2EigoBtlyPVhZktdBVPm","Croel DRAW Logo","Python")

        


