section.mytools(class="flex h-64 w-full flex-col")
    div(class="flex justify-center items-center w-full h-16")
        p.text-2xl.font-bold Mis herramientas
    div(class="flex w-full h-48 bg-red-200 items-center")
        div.toolIcon(class="hover:scale-125 ease-in-out duration-500 flex flex-col justify-center items-start")
            img(src="https://drive.google.com/uc?export=view&id=1WSBCEu3ikzugJVJdX9tat208aH2uCkWP ", alt="Python Logo")
            span.toolName(class="hidden") Hola
        div.toolIcon(class="hover:scale-125 ease-in-out duration-500 flex flex-col justify-center items-start")
            img(src="https://drive.google.com/uc?export=view&id=1WSBCEu3ikzugJVJdX9tat208aH2uCkWP ", alt="Python Logo")
            span.toolName(class="hidden") Hola