section(class="w-full h-full py-16 flex justify-center items-center flex-col font-bold py-10")
    div(id="engineering-tools" class="min-w-[250px] w-full max-w-[1600px] grid-temp tool-grid p-4")
    div(id="dev-tools" class="min-w-[250px] w-full max-w-[1600px] tool-grid grid-temp p-4")

