span.rSubtitle(class="flex justify-center items-center text-4xl font-extrabold pt-12 pb-16") Who I worked with
section(class="flex justify-center flex-col md:justify-center items-center w-full")
    span(class="w-10/12 max-w-5xl my-16 text-lg") During my experience, some places where I've worked led me to develop projects for large companies in different areas: Oil & gas, Automotive, Energy, even personal projects.
    div(class="grid grid-cols-1 md:grid-cols-8 h-[800px] md:h-[500px] w-11/12 md:w-[600px] lg:w-[900px]")
        div( class="tab gap-4 h-48 md:max-h-96 grid grid-cols-2 md:grid-cols-1 md:col-start-1 md:col-end-4 lg:col-end-3")
            +tabWork("openTab(event, 'benteler')","defaultOpen","Benteler")
            +tabWork("openTab(event, 'tenneco')","","Tenneco")
            +tabWork("openTab(event, 'mitsubishi')","","Mitsubishi")
            +tabWork("openTab(event, 'ptb')","","PTB")
            +tabWork("openTab(event, 'personal')","","Personal")

        div(id="benteler" class="tabcontent md:col-start-4 md:col-end-9 lg:col-start-3 md:col-end-9")
            span(class="mb-4") I have carried out multiple HVAC projects for air extraction in welding ops., including activities like:
            ul(class="ml-8")
                li
                    span - Project Management
                li
                    span - Indoor Surveys 
                li
                    span - Metallic Structure Design
                li
                    span - Task tracking
                li
                    span - 
                    span(class="font-bold hoverSpan") LISP 
                    span Routines for drawing
                li 
                    span . 
                    span(class="font-bold hoverSpan") Python 
                    span Routines for files administration
                li
                    span - 
                    span(class="font-bold hoverSpan") MS Project
            span(class="my-4 font-bold") The tools 
            ul(class="ml-8")
                li
                    span - 
                    span(class="font-bold hoverSpan") AutoCAD Mechanical
                li
                    span - 
                    span(class="font-bold hoverSpan") AutoDESK Inventor
                li
                    span - 
                    span(class="font-bold hoverSpan") VS Code
                li
                    span - 
                    span(class="font-bold hoverSpan") MS Project
        div(id="tenneco" class="tabcontent  md:col-start-4 md:col-end-9 lg:col-start-3 md:col-end-9")
            span(class="mb-4") I have carried out multiple HVAC projects for air extraction in welding ops., including activities like:
            ul(class="ml-8")
                li
                    span - Project Management
                li
                    span - Indoor Surveys 
                li
                    span - 
                    span(class="font-bold hoverSpan") Metallic Structure Design
                li
                    span - Task tracking
            span(class="my-4 font-bold") The tools 
            ul(class="ml-8")
                li
                    span - 
                    span(class="font-bold hoverSpan") AutoCAD Mechanical
                li
                    span - 
                    span(class="font-bold hoverSpan") AutoDESK Inventor
                li
                    span - 
                    span(class="font-bold hoverSpan") VS Code

        div(id="mitsubishi" class="tabcontent md:col-start-4 md:col-end-9 lg:col-start-3 md:col-end-9")
            span Supervision of maintenance activities in combined cycle plant
            ul(class="ml-8") 
                li
                    span - Supervision 
                li
                    span - Task tracking
                li
                    span - plans
            span(class="my-4 font-bold") The tools 
            ul(class="ml-8")
                li 
                    span - 
                    span(class="font-bold hoverSpan") AutoCAD Mechanical
                li 
                    span - 
                    span(class="font-bold hoverSpan") AutoDESK Inventor
                li
                    span - 
                    span(class="font-bold hoverSpan") VS Code
        
        div(id="ptb" class="tabcontent md:col-start-4 md:col-end-9 lg:col-start-3 md:col-end-9")
            span I have made multiple projects for geographical database maintenance for oil & gas area
            ul(class="ml-8")
                li
                    span - Drone surveys
                li
                    span - Terrain 3D models
                li
                    span - Topographic information
                li
                    span - 
                    span(class="font-bold hoverSpan") Geospatial 
                    span Info loaded to Database
            span(class="my-4 font-bold") The tools 
            ul(class="ml-8") 
                li
                    span - 
                    span(class="font-bold hoverSpan") AutoCAD Map 3D
                li
                    span - 
                    span(class="font-bold hoverSpan") GeoMEDIA 
                li
                    span - 
                    span(class="font-bold hoverSpan") ERDAS Imagine 
                li
                    span - 
                    span(class="font-bold hoverSpan") Plex Earth 
                li
                    span - 
                    span(class="font-bold hoverSpan") Pix 4D Map
        div(id="personal" class="tabcontent md:col-start-4 md:col-end-9 lg:col-start-3 md:col-end-9")
            span Also, I've made small projects that helped me to improve daily tasks
            ul(class="ml-8")
                li
                    span - 
                    span(class="font-bold hoverSpan") LIPS 
                    span Routines for fast drawings
                li
                    span - 
                    span(class="font-bold hoverSpan") Python 
                    span routines to find files and create 
                    span(class="font-bold hoverSpan") CSV 
                li
                    span - Small Apps with 
                    span(class="font-bold hoverSpan") Javascript 
                    span : Unit Conversors, Calculate Mechanical components
                li
                    span - This 
                    span(class="font-bold hoverSpan") Web Site
            span(class="my-4 font-bold") The tools 
            ul(class="ml-8") 
                li
                    span - 
                    span(class="font-bold hoverSpan") VS Code
                li
                    span - 
                    span(class="font-bold hoverSpan") Python
                li
                    span - 
                    span(class="font-bold hoverSpan") JavaScript
                li
                    span - 
                    span(class="font-bold hoverSpan") HTML 
                    span & 
                    span(class="font-bold hoverSpan") CSS
                li
                    span - 
                    span(class="font-bold hoverSpan") Tailwind CSS
    +ctabtnDisabled("See more projects","../projects/",)
        



