$active1Primary:#e11d48;
$active1Secondary:#fda4af;

$active2Primary:#4f46e5;
$active2Secondary:#a5b4fc;

$active3Primary:#059669;
$active3Secondary:#6ee7b7;

$active4Primary:#d97706;
$active4Secondary:#fcd34d;

$active5Primary:#65a30d;
$active5Secondary:#bef264;

$active6Primary:#0891b2;
$active6Secondary:#67e8f9;

$active7Primary:#9333ea;
$active7Secondary:#d8b4fe;

$active8Primary:#475569;
$active8Secondary:#cbd5e1;


.logoContainer{
    width: 80px;
    height: 80px;
    transition: ease-in-out .2s;
    color:transparent;
    span{
        margin-top: 4px;
    }
    &:hover{
        scale: 150%;
        color: #1e293b;
        font-weight: 600;
        
    }
}
.back{
    z-index: -3;
    transform:scale(-1);
}
body{
    text-underline-offset:.4rem;
}

.tab button{
    width: 160px;
    font-weight: 600;
}
.tab button.active1 {
    border: 4px solid $active1Primary;
    color: $active1Primary;
}
.tab button.active2 {
    border: 4px solid $active2Primary;
    color: $active2Primary;
}
.tab button.active3 {
    border: 4px solid $active3Primary;
    color: $active3Primary;
}
.tab button.active4 {
    border: 4px solid $active4Primary;
    color: $active4Primary;
}
.tab button.active5 {
    border: 4px solid $active5Primary;
    color: $active5Primary;
}
.tab button.active6 {
    border: 4px solid $active6Primary;
    color: $active6Primary;
}
.tab button.active7 {
    border: 4px solid $active7Primary;
    color: $active7Primary;
}
.tab button.active8 {
    border: 4px solid $active8Primary;
    color: $active8Primary;
}
.selection1 span::selection{
    color:$active1Primary;
    text-decoration: underline $active1Secondary 2px;
    }
.selection2 span::selection{
    color:$active2Primary;
    text-decoration: underline $active2Secondary 2px;
    }
.selection3 span::selection{
    color:$active3Primary;
    text-decoration: underline $active3Secondary 2px;
    }
.selection4 span::selection{
    color:$active4Primary;
    text-decoration: underline $active4Secondary 2px;
    }
.selection5 span::selection{
    color:$active5Primary;
    text-decoration: underline $active5Secondary 2px;
    }
.selection6 span::selection{
    color:$active6Primary;
    text-decoration: underline $active6Secondary 2px;
    }
.selection7 span::selection{
    color:$active7Primary;
    text-decoration:underline $active7Secondary 2px;
    }
.selection8 span::selection{
    color:$active8Primary;
    text-decoration:underline $active8Secondary 2px;
    }