include ../components/_mixins
doctype html
include ../components/_head.pug
    head
        +head("Portfolio")
    body
        header#header(class="w-full fixed bottom-0 z-20")
            include ../components/_header.pug

        main(class="md:pt-16")
            +heroSection("ackground-image: url('https://drive.google.com/uc?export=view&id=1HQBs05TYQDDjXiQvF3ZPqO8UVUC7wGkq')","I'm working on it 😉")
        footer
            include ../components/_footer.pug

        +jsScripts()